In [26]:
import pandas as pd
import numpy as np
from nltk.classify.scikitlearn import SklearnClassifier
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
'sourabh sharma'

'sourabh sharma'

In [3]:
cd D:\csv_files\New folder\Spam-or-Ham-master

D:\csv_files\New folder\Spam-or-Ham-master

In [4]:
df=pd.read_csv('spam.csv',encoding='latin-1')

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [7]:
df.rename(columns={'v1':'category','v2':'msg'},inplace=True)

In [8]:
df.head()

  category                                                msg
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [63]:
x=df.msg
y=df.category
df.iloc[1,:]

category                              ham
msg         Ok lar... Joking wif u oni...
Name: 1, dtype: object

In [12]:
x.shape , y.shape

((5572,), (5572,))

In [13]:
vect = CountVectorizer()

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [19]:
x_test.shape,y.shape

((1115,), (5572,))

In [21]:
x_trained = vect.fit_transform(x_train)

In [23]:
x_tested = vect.transform(x_test)

In [24]:
x_trained.shape , x_tested.shape

((4457, 7774), (1115, 7774))

In [27]:
nb = MultinomialNB()

In [29]:
nb.fit(x_trained,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [30]:
pred = nb.predict(x_tested)

In [31]:
from sklearn import metrics

In [66]:
metrics.confusion_matrix(y_true = y_test,y_pred = pred)

array([[968,   8],
       [  9, 130]], dtype=int64)

In [67]:
metrics.accuracy_score(y_true = y_test,y_pred = pred)

0.98475336322869955

In [68]:
# false positive 
x_tested[pred > y_test]

<1115x7774 sparse matrix of type '<class 'numpy.int64'>'
	with 5583 stored elements in Compressed Sparse Row format>

In [69]:
nb.predict_proba(x_tested)

array([[  9.99862307e-01,   1.37692919e-04],
       [  9.99825110e-01,   1.74890379e-04],
       [  9.99998283e-01,   1.71677753e-06],
       ...,
       [  9.99999990e-01,   9.84233547e-09],
       [  9.99085362e-01,   9.14637791e-04],
       [  9.99999989e-01,   1.05421746e-08]])

# line

In [12]:
from nltk.corpus import stopwords
import random 
import string
stop_words = stopwords.words('english')
punctuations = string.punctuation
stop_words +=punctuations
stop_words+=['...']

In [13]:
from nltk.corpus import wordnet
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    if tag.startswith('V'):
        return wordnet.VERB
    if tag.startswith('N'):
        return wordnet.NOUN
    if tag.startswith('R'):
        return wordnet.ADV
    return wordnet.NOUN

In [14]:
# lemmatizing the text
lem = WordNetLemmatizer()

def clean_review(docs):
    output=[]
    for word in word_tokenize(docs):
        if word.lower() not in stop_words:
            clean_word = lem.lemmatize(word,pos = get_simple_pos(pos_tag(word)[0][1]))
            output.append(clean_word)
    return output

In [15]:
document=[clean_review(doc) for doc in x[:10]]

In [16]:
document

[['Go',
  'jurong',
  'point',
  'crazy..',
  'Available',
  'bugis',
  'n',
  'great',
  'world',
  'la',
  'e',
  'buffet',
  'Cine',
  'got',
  'amore',
  'wat'],
 ['Ok', 'lar', 'Joking', 'wif', 'u', 'oni'],
 ['Free',
  'entry',
  '2',
  'wkly',
  'comp',
  'win',
  'FA',
  'Cup',
  'final',
  'tkts',
  '21st',
  'May',
  '2005',
  'Text',
  'FA',
  '87121',
  'receive',
  'entry',
  'question',
  'std',
  'txt',
  'rate',
  'C',
  "'s",
  'apply',
  '08452810075over18',
  "'s"],
 ['U', 'dun', 'say', 'early', 'hor', 'U', 'c', 'already', 'say'],
 ['Nah', "n't", 'think', 'go', 'usf', 'life', 'around', 'though'],
 ['FreeMsg',
  'Hey',
  'darling',
  "'s",
  '3',
  'week',
  "'s",
  'word',
  'back',
  "'d",
  'like',
  'fun',
  'still',
  'Tb',
  'ok',
  'XxX',
  'std',
  'chgs',
  'send',
  'å£1.50',
  'rcv'],
 ['Even', 'brother', 'like', 'speak', 'treat', 'like', 'aid', 'patent'],
 ['per',
  'request',
  "'Melle",
  'Melle',
  'Oru',
  'Minnaminunginte',
  'Nurungu',
  'Vettam',
  'set',
  'callertune',
  'Callers',
  'Press',
  '*9',
  'copy',
  'friends',
  'Callertune'],
 ['WINNER',
  'valued',
  'network',
  'customer',
  'selected',
  'receivea',
  'å£900',
  'prize',
  'reward',
  'claim',
  'call',
  '09061701461',
  'Claim',
  'code',
  'KL341',
  'Valid',
  '12',
  'hour'],
 ['mobile',
  '11',
  'month',
  'U',
  'R',
  'entitled',
  'Update',
  'latest',
  'colour',
  'mobile',
  'camera',
  'Free',
  'Call',
  'Mobile',
  'Update',
  'Co',
  'FREE',
  '08002986030']]

In [33]:
s1='i am painting a drawing'
s2="i love this painting"

In [18]:
clean_review(s1)

['drawing', 'painting']

In [19]:
clean_review(s2)

['love', 'painting']

In [25]:
pos_tag([s2[12:20]])

[('painting', 'NN')]

In [29]:
pos_tag([s1[15:24]])

[('painting', 'NN')]

In [40]:
s3=['i' ,'am' ,'painting', 'a', 'drawing']

In [41]:
pos_tag(s3)

[('i', 'NN'),
 ('am', 'VBP'),
 ('painting', 'VBG'),
 ('a', 'DT'),
 ('drawing', 'NN')]

In [42]:
s4=['i','love','this','painting']

In [43]:
pos_tag(s4)

[('i', 'RB'), ('love', 'VBP'), ('this', 'DT'), ('painting', 'NN')]